*.[oa]
*~
*.mod
*.x

my_*

/*.sh
!/copy_templates.sh
!/get_input_files.sh

/out*
/*.dat
/*.txt

/headers/*.h

/tools/*
!/tools/*/
/tools/matlab/*
/tools/sicograph/*
/tools/*/*.h

/src/*.h
/src/*.py
/src/*.sh
/src/*.dat
/src/driver*
/src/*.msg
/src/html/
/src/*.gcda
/src/*.gcno
/src/*.info

/sico_in/ant/*
!/sico_in/ant/make_*
!/sico_in/ant/phys_para*

/sico_in/grl/*
!/sico_in/grl/make_*
!/sico_in/grl/phys_para*

/sico_in/nhem/*
!/sico_in/nhem/make_*
!/sico_in/nhem/phys_para*

/sico_in/lcis/*
!/sico_in/lcis/make_*
!/sico_in/lcis/phys_para*

/sico_in/scand/*
!/sico_in/scand/make_*
!/sico_in/scand/phys_para*

/sico_in/tibet/*
!/sico_in/tibet/make_*
!/sico_in/tibet/phys_para*

/sico_in/asf/*
!/sico_in/asf/make_*
!/sico_in/asf/phys_para*

/sico_in/npi/*
!/sico_in/npi/make_*
!/sico_in/npi/phys_para*

/sico_in/mocho/*
!/sico_in/mocho/make_*
!/sico_in/mocho/phys_para*

/sico_in/eismint/*
!/sico_in/eismint/make_*
!/sico_in/eismint/phys_para*

/sico_in/heino/*
!/sico_in/heino/make_*
!/sico_in/heino/phys_para*

/sico_in/nmars/*
!/sico_in/nmars/make_*
!/sico_in/nmars/phys_para*

/sico_in/smars/*
!/sico_in/smars/make_*
!/sico_in/smars/phys_para*

/sico_in/xyz/*
!/sico_in/xyz/.keep

/sico_out/*
!/sico_out/.keep

/tmp/*
!/tmp/.keep

/docs/ford/*

/docs/sphinx/build/*
!/docs/sphinx/build/.keep

**/.DS_Store

/test_ad/tapenade_supported/ADFirstAidKit/*.gch
